__pycache__/
*.py[cod]
.ipynb_checkpoints
.DS_Store

# created by config.py / the workflow at run time
/codes/
/cases/
/data/
workflows/output/
workflows/figures/
workflows/logs/*
!workflows/logs/.gitkeep
